body {
    margin: 0;
    background-color: #EDEFF0;
}
* {
    box-sizing: border-box;
    font-family: Arial;
}
span {
    font-family: Montserrat;
}
p, h1, h2, h3, h4, img {
    margin: 10px;
    padding: 0;
}

.header, .nav, .main, .about, .food, .tab {
    margin: 0px 0px 10px 40px;
    padding: 5px;
}

.auth {
    position: absolute;
    top: 30px;
    right: 30px;
    text-decoration: none;
    background-color: #3a82ff;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-size: 16px;
    transition: background 0.3s;
}

.auth:hover {
    background-color: #2a62cc;
}

.wrapper {
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
}

.header {
    width: 50%;
    margin: 0 auto;
}

.header h1 {
    margin-left: 40px;
    margin-bottom: 30px;
}

.header .nav {
    display: flex;
    gap: 10px;
}

.header .nav .def {
    color: #000000;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.header .nav .def:hover {
    color: #3a82ff
}

.main {
    width: 50%;
    margin: 0 auto;
}

.main img {
    width: 600px;
    max-width: 100%;
}

.food ul, .food li {
    padding: 2px;
}

.about p {
    width: 700px;
}

.tab table, .tab table td, .tab table tr {
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

.tab table {
    margin-top: 20px;
    width: 600px;
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    margin: 50px 0px 0px 0px;
    width: 100%;
    min-height: 600px;
    background-color: #000000;
    color: #ffffff;
}

.footer form {
    max-width: 600px;
    padding: 10px;
    border: solid 2px white;
}

.form {
    margin: 10px;
}

.form textarea {
    resize: vertical;
}

.footer p {
    font-size: 18px;
}